<%- include ('../../partials/header.ejs') %> 
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edit Article</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/update">
                    <input type="hidden" value="<%= categories.id %>" name="id">
                    <input class="form-control" type="text" name="title" placeholder="Define a title for the article"><br>
                    <textarea class="form-control" placeholder="Type the article here!" name="body" id="article"></textarea><br>
                    <label for="category">Category</label>
                    <select name="category" id="category" class="form-control">
                        <% categories.forEach((category) => { %>
                            <% if(category.id == categories.categoryId) { %>
                                <option value="<%= category.id %>" selected><%= category.title %> </option>
                            <% }else{ %>
                                <option value="<%= category.id %>"><%= category.title %> </option>
                            <% } %>  
                        <% }) %> 
                    </select>
                    <br>
                    <button class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>

    <div id="content" style="display: none;">
        <%- categories.body %> 
    </div>
</body>

<%- include ('../../partials/footer.ejs') %> 

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#article',
        activeEditor: true,
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () =>{
            tinymce.get('article').setContent($('#content').html())
        }
    })
</script>